{% extends "base.html" %}
{% load highlight %}

{% block content %}
  <h1>All elements</h1>
  <div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
    {% if query %}
      {% for result in page.object_list %}
      <div class="panel panel-default">
        <div class="panel-heading" role="tab">
          <h4 class="panel-title">
            <a data-toggle="collapse" data-parent="#accordion" href="#c{{ result.object.id }}">
              {{ result.object.title }}
            </a>
          </h4>
        </div>
        <div id="c{{ result.object.id }}" class="panel-collapse collapse" role="tabpanel">
          <div class="panel-body">
            <p>{% highlight result.object.text with query html_tag "mark" %}</p>
            <p>{{ result.object.text }}</p>
          </div>
        </div>
      </div>
      {% empty %}
        <p>No results found.</p>
      {% endfor %}
      {% if page.has_previous or page.has_next %}
          <div>
              {% if page.has_previous %}<a href="?q={{ query }}&amp;page={{ page.previous_page_number }}">{% endif %}&laquo; Previous{% if page.has_previous %}</a>{% endif %}
              |
              {% if page.has_next %}<a href="?q={{ query }}&amp;page={{ page.next_page_number }}">{% endif %}Next &raquo;{% if page.has_next %}</a>{% endif %}
          </div>
      {% endif %}
  {% endif %}
  </div>
{% endblock %}
